{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>

        <article>
            <header>
                <h2>Fulfill</h2>
            </header>
            <table>
                <tr>
                    <td>
                        {{ wish.name }}
                    </td>
                    <td>
                        {{ wish.url }}
                    </td>
                    <td>
                        {{ wish.price }}
                    </td>
                    <td>
                        {{ wish.status }}
                    </td>
                </tr>
            </table>
            <p>Others are ready to pay:</p>
            <table>
                {% for key, fulfilled in fulfilled_section %}
                <tr>
                    <td>{{fulfilled.getFbFirstName.first_name}}</td>
                    <td><img src='{{fulfilled.getFbImage.picture.data.url}}' width='100' height='100' alt='{{fulfilled.getFbFirstName.first_name}} profile picture' /></td>
                    <td>{{ fulfilled.price }}</td>
                    <td>{{ fulfilled.getOwnerId.getFbId }}</td>
                </tr>                
                {% endfor %}
            </table>

            <p>My investment:</p>
            {{ form(fulfill_form) }}

        </article>

    </section>
    {{ include(
            'EKPDBundle:User:profile.html.twig'
            ) }}

</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}