{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>

        <article>
            <header>
                <h2>Wishlist of {{ userFirstName }}</h2>
            </header>
            <table>
                {% for key, wish in friends_wish_list %}
                <tr>
                    <td>
                        {{ wish.name }}
                    </td>
                    <td>
                        {{ wish.url }}
                    </td>
                    <td>
                        {{ wish.price }}
                    </td>
                    <td>
                        <a href="{{ path('fulfill_wish', {'id': wish.id } ) }}">Fulfill Wish</a>
                    </td>
                    <td>
                        {{ wish.status }}
                    </td>
                    
                </tr>                
                {% endfor %}
            </table>
        </article>

    </section>
    {{ include(
            'EKPDBundle:User:profile.html.twig'
            ) }}

</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}