{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>

        <article>
            <header>
                <h2>My friends are here</h2>
            </header>

            <table>
                   {% for key, friend in friends %}
                        {% if friend.installed is defined %}
                    <tr>
                        <td>
                            <img src='{% if friend.picture is defined %}{{ friend.picture.data.url }} {% endif %}' height='100' width='100' alt='prof pic' />
                        </td>
                        <td>
                            {{ friend.first_name }} {{ friend.last_name }}
                        </td>
                        <td>
                            {% if friend.birthday is defined %} {{ friend.birthday }} {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('view_friend', {'id': friend.id } ) }}">His profile</a>
                        </td>
                    </tr>
                       {% endif %} 
                {% endfor %}
            </table>
        </article>
    </section>
    {{ include(
        'EKPDBundle:User:profile.html.twig'
    ) }}
</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}