{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>

        <article>
            <header>
                <h2>All my - uid: {{ userId }} - friends are here</h2>
            </header>

            <ul>
                {% for key, friend in friends %}
                    {% if friend.installed is defined %}
                        <li>{{ friend.id }}, {{ friend.first_name }}, {{ friend.last_name }}, {{ friend.installed }} {% if friend.birthday is defined %}, {{ friend.birthday }} {% endif %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
    </section>
    {{ include(
        'EKPDBundle:User:profile.html.twig'
    ) }}
</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}