{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>

        <article>
            <header>
                <h2>List of friends wishes:</h2>
            </header>
            <table>
                {% for key, wish in wishes %}
                <tr>
                    <td>{{wish.getFbFirstName.first_name}}</td>
                    <td><img src='{{wish.getFbImage.picture.data.url}}' width='100' height='100' alt='{{wish.getFbFirstName.first_name}} profile picture' /></td>
                    <td>{{ wish.name }}</td>
                    <td>{{ wish.url }}</td>
                    <td>{{ wish.price }}</td>
                    <td>{{ wish.getOwnerId.getFbId }}</td>
                </tr>                
                {% endfor %}
            </table>
        </article>

    </section>
    {{ include(
            'EKPDBundle:User:profile.html.twig'
            ) }}

</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}