<a href="{{ path('view_user', {'id': userId } ) }}">HOME</a>
<a href="{{ path('view_wish', {'id': userId } ) }}">MY WISHLIST</a>
<a href="{{ path('view_friends_wish', {'id': userId } ) }}">FRIENDS WISHLIST</a>
<a href="{{ path('view_friends', {'id': userId } ) }}">FRIENDS</a>
<a href="{{ url('log_out') }}">LOG OUT</a>

