{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <div id='my-wishes'>
            <h2>My added wishes</h2>
            <table>
                {% for key, wish in wish_list %}
                <tr>
                    <td>
                        {{ wish.name }}
                    </td>
                    <td>
                        {{ wish.url }}
                    </td>
                    <td>
                        {{ wish.price }}
                    </td>
                    <td>
                        <a href="{{ path('edit_wish', {'userid': userId, 'wishid': wish.id  } ) }}">Edit wish</a>
                    </td>
                    <td>
                        <a href="{{ path('delete_wish', {'userid': userId, 'wishid': wish.id  } ) }}">Delete wish</a>
                    </td>
                </tr>  
                {% endfor %}
            </table>
        </div>
        <div id='new-wish'>
            <header>
                <h2>Add a new wish</h2>
                {{ form(wish_form) }}
            </header>
        </div>
    </section>

    {{ include(
        'EKPDBundle:User:profile.html.twig'
    ) }}
</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}